# Node.js 2

# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:

pool:
  vmImage: windows-latest

stages:
- stage:  Install_and_Build #The Stage do you prefer
  #condition: eq(variables['Build.SourceBranch'], 'refs/heads/Testing') #If the change is from development branch the following job will be executed 
  jobs: 
    - job: Install
      steps:
        - task: NodeTool@0
          inputs:
            versionSpec: '16.x'
          displayName: 'Install Node.js'
        - script: |
            rm -rf node_modules/
            npm install
            npm run build
          displayName: 'npm install and build'
        

- stage:  Deploy #The Stage do you prefer
  #condition: eq(variables['Build.SourceBranch'], 'refs/heads/Testing') #If the change is from development branch the following job will be executed 
  jobs: #Chose the prefer job
    - job: Deploy
      steps:
        - task: NodeTool@0
          inputs:
            versionSpec: '16.x'
        
        - task: ArchiveFiles@2
          inputs:
            rootFolderOrFile: '$(System.DefaultWorkingDirectory)'
            includeRootFolder: true
            archiveType: 'zip'
            archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
            replaceExistingArchive: true
       
        - task: PublishPipelineArtifact@1
          inputs:
            targetPath: '$(Build.ArtifactStagingDirectory)'
            artifact: 'Drop'
            publishLocation: 'pipeline'
        
          
            




