# Node.js

# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

pool: Default

stages:
- stage:  Install_and_Build #The Stage do you prefer
  #condition: eq(variables['Build.SourceBranch'], 'refs/heads/Testing') #If the change is from development branch the following job will be executed 
  pool: Default
  jobs: 
    - job: Install
      steps:
        - task: NodeTool@0
          inputs:
            versionSpec: '16.x'
          displayName: 'Install Node.js'
        - script: |
            rm -rf node_modules/
            npm install
            npm run build
          displayName: 'npm install and build'


- stage:  Test #The Stage do you prefer
  #condition: eq(variables['Build.SourceBranch'], 'refs/heads/Testing') #If the change is from development branch the following job will be executed 
  pool: Default
  jobs: #Chose the prefer job
    - job: Test
      steps:
        - script: |
            npm test
          displayName: 'npm test'
        - task: PublishTestResults@2
          displayName: 'Publish Report'
          condition: succeededOrFailed()
          inputs:
            testRunner: JUnit
            testResultsFiles: '**/test-report.xml'               
        - task: PublishCodeCoverageResults@1
          displayName: 'Publish Coverage'
          inputs: 
            codeCoverageTool: 'Cobertura'
            summaryFileLocation: '$(System.DefaultWorkingDirectory)/**/*clover.xml'
            pathToSources: '$(System.DefaultWorkingDirectory)/coverage'
            reportDirectory: '$(System.DefaultWorkingDirectory)/coverage'
          
        
- stage:  Deploy #The Stage do you prefer
  #condition: eq(variables['Build.SourceBranch'], 'refs/heads/Testing') #If the change is from development branch the following job will be executed 
  pool: Default
  jobs: #Chose the prefer job
    - job: deploy_github
      steps:
        - script: |
            git remote add github https://github.com/Bjuz/Municipalidad1-.git
            git add .
            git commit -m "Deploy from DevOps"
            git push -u github master
            git status
          displayName: 'deploy into github pages'
        





