# Node.js

# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

pool: Default

stages:
- stage:  Deploy #The Stage do you prefer
  #condition: eq(variables['Build.SourceBranch'], 'refs/heads/Testing') #If the change is from development branch the following job will be executed 
  pool: Default
  jobs: 
    - job: 
      steps:
        - task: NodeTool@0
          inputs:
            versionSpec: '16.x'
          displayName: 'Install Node.js'
    - job: 
      steps:
        - script: |
            rm -rf node_modules/
            npm install
            npm run build
          displayName: 'npm install and build'


- stage:  Test #The Stage do you prefer
  #condition: eq(variables['Build.SourceBranch'], 'refs/heads/Testing') #If the change is from development branch the following job will be executed 
  pool: Default
  jobs: #Chose the prefer job
    - job: 
      steps:
        - script: |
            npm test
          displayName: 'npm test'
    - job: 
      steps:
        - task: PublishTestResults@2
          displayName: 'Publish Report'
          condition: succeededOrFailed()
          inputs:
            testRunner: JUnit
            testResultsFiles: '**/test-report.xml'
             
    - job: 
      steps:      
        - task: PublishCodeCoverageResults@1
          displayName: 'Publish Coverage'
          inputs: 
            codeCoverageTool: Cobertura # or JaCoCo
            summaryFileLocation: '$(System.DefaultWorkingDirectory)/**/*clover.xml'
            reportDirectory: '$(System.DefaultWorkingDirectory)/coverage'





