.components{
    position: relative;
    left: 4em;
    bottom: -1em;
}

.input-select{
    margin: 2em auto;
}

.input-components{
    width: 45%;
}

.navbar-configuration{
    position: relative;
    bottom: -1em;
}

h2{
    margin: 0.5em auto;
	width: 100%;
	font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
}