@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*,
*:before,
*:after {
	box-sizing: border-box;
}

img.logo {
	width: 40%;
	height: 40%;
}

/*Edicion tipo y tamaño letras--------------------------------*/

* {
	font-family: 'Poppins', sans-serif;
}

.header1 {
	font-weight: 600;
}

.header2 {
	font-size: 1rem;
}

a {
	color: black;
}

a:hover {
	color: #A89C44;
}

input {
	font-weight: 600;
}


/*Edicion fondo------------------------------------------------*/
body {
	background-color: white;
}

/*Form login---------------------------------------------------*/

.form {
	padding: 0 2em;
}

.form__input {
	background-color: transparent;
	width: 100%;
	border: 0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid #aaa;
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline: none;
	margin: 0.5em auto;
	transition: all .5s ease;
}

.form__input:focus {
	border-bottom-color: #94ab65;
	box-shadow: 0 0 5px #94ab65;
	border-radius: 4px;
}

label{
	margin: 0.5em;
}

.btn {
	transition: all .5s ease;
	width: 25%;
	border-radius: 30px;
	color: #fff;
	font-weight: 600;
	background-color: #94ab65;
	border: transparent;
	margin-top: 1.5em;
	margin-bottom: 1em;
}

.btn:hover,
.btn:focus {
	background-color: #94ab65;
	color: #fff;
}

.forgotpassword{
	background-color: transparent;
	border: transparent;
	text-decoration: underline;
}

.forgotpassword :hover {
	color: #A89C44;
}


  #loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 120px;
	height: 120px;
	margin: -76px 0 0 -76px;
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #94ab65;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
	position: relative;
	-webkit-animation-name: animatebottom;
	-webkit-animation-duration: 1s;
	animation-name: animatebottom;
	animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
	from { bottom:-100px; opacity:0 } 
	to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
	from{ bottom:-100px; opacity:0 } 
	to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
	display: none;
	text-align: center;
  }